html,
body {
  height: 100%;
  font-family: 'Lora', serif;
  background: #fff;
  color: #666;

}

.image-holder {
  width: 168px;
  height: 168px;
  margin: 5px 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}